$primaryBackgraundColor:#FFFFFF;
$secondaryBackgraundColor:#F5F4FA;
$footerBackgraundColor:#2F303A;
$primaryTextColor:#212121;
$secondaryTextColor:#757575;
$hoverColor:#2196F3;
$backdropColor:#00000033;