* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto;
    line-height: 100%;
    letter-spacing: 3%;
    background-color: $primaryBackgraundColor;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}